# Python
__pycache__/
*.py[cod]

# Virtual Environments
venv/
.venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# Activity datasets
Medicine-analysis/Medicine.csv
Medicine-analysis/cleaned_medicine_inventory.csv

# Don't push any csv files
*.csv

# Titanic Survival Analysis Data
titanic-survival-analysis/data/raw/*
!titanic-survival-analysis/data/raw/.gitkeep

titanic-survival-analysis/data/processed/*
!titanic-survival-analysis/data/processed/.gitkeep